<nav>
	<ul>
		<li ng-repeat="link in navlist">
			<a href="">{{link.name}}</a>
		</li>
	</ul>
</nav>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi voluptatibus dolor, nisi ipsum vitae est odit, at veniam veritatis, nemo voluptatem iure accusamus assumenda. Facilis iure, nemo officiis molestias illo.</p>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi voluptatibus dolor, nisi ipsum vitae est odit, at veniam veritatis, nemo voluptatem iure accusamus assumenda. Facilis iure, nemo officiis molestias illo.</p>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi voluptatibus dolor, nisi ipsum vitae est odit, at veniam veritatis, nemo voluptatem iure accusamus assumenda. Facilis iure, nemo officiis molestias illo.</p>